*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'systen-ui', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}


@font-face {
    font-family: "logo";
    src: url(./assets/police/Comforter_Brush/ComforterBrush-Regular.ttf);
}

@font-face {
    font-family: "font-789513";
    src: url(./assets/police/Peralta/Peralta-Regular.ttf);
}


.pointer{
    cursor: pointer;
}

.contenaire{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background:url(assets/image/fd.jpg) center;
    background-size: cover;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    cursor: default;
}
nav .logo{
    width: 120px;
    font-size: 4rem;
    font-style: oblique;
    font-family: "logo" ;
    text-decoration: none;
    color: #94f7e6;
}
.pointer{
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}
nav ul li{
    margin-right: 10px;

}
nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #94f7e6;
    font-size: 16px;
}
a.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style:italic;
    margin-top: 0;
    background-color: transparent;
    color: #94f7e6;
    border: 1px solid transparent;
    transition: border-color .4s;
    text-decoration: none;
}

.point{
    text-decoration: none;
    list-style-type: none;
}

a.btn:hover{
    border-color: #94f7e6;

}

a.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style:italic;
    margin-top: 0;
    background-color: transparent;
    color: #94f7e6;
    border: 1px solid transparent;
    transition: border-color .4s;
}
a.btn:hover{
    border-color: #94f7e6;

}

button.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style:italic;
    margin-top: 0;
    background-color: transparent;
    color: #94f7e6;
    border: 1px solid transparent;
    transition: border-color .4s;
}
button.btn:hover{
    border-color: #94f7e6;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    transform: translateX(180
    px);
}
.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 /35%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;

}

.card.show{
    visibility: visible;
    opacity: 1;
}

.card-header{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px 0;
    font-style: 1.1rem;
    color: #94f7e6;
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
}

.card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    bottom: 1px solid transparent;
    border-radius: 50px;
    user-select: none;

}

.card-header .form-header.active{
    box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%),inset -1px 1px 2px rgb(19 210 177 / 55%),inset -1px -1px 2px rgb(19 210 177 / 55%),inset 1px -1px 2px rgb(19 210 177 / 55%);
    border-color: #94f7e6;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;

}
form{
    flex: 0 0 100%;
}

.toggleForm{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s visibility 0.3s;
}

.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid cyan;
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #fff;
}
.form-control::placeholder{
    color: cyan;
}

.formButton{
    border:1px solid transparent;
    padding: 1rem 3rem;
    background-color: #94f7e6;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform .3, box-shadow .3s;
}
.formButton:hover{
    box-shadow: 3px 5px 15px #94f7e6;
    transform: translateY(-5px);
}

.acced{
    border:1px solid transparent;
    transition: border-color .4s;
    font-weight: bold;
    font-style:italic;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.acced:hover{
    border-color: rgb(19 210 177 / 55%)cyan;
}



.vue{
    background: rgba(82, 139, 255);
}

.res-contenaire{
    background: rgb(0 0 0 /35%);
    text-align: center;
    height: 354px;
    width: 26.5%;
    transform: translateX(200px);
    position: absolute;
    left: 22%;
    top: 20%;
}

.titre{
    justify-content: center;
    align-items: center;
    font-family: "font-789513";
    margin: 40px 20px 30px 20px ;
    color: #94f7e6;
}
.instagrame,
.facebook{
    margin: 10px 5px 10px 5px;
    padding: 5px;
    height: 30%;
    position: relative;
    color: #94f7e6;
}

.gold{
    padding: 10px 5px 5px 5px;
    margin: 10px;
}
.logo-a{
    text-decoration: none;
    color: #94f7e6;
}
h2,
h3{
    cursor: default;
}
.logo--{
    width: 30px;
    color: #94f7e6;
    margin-top: 20px;
}