body
{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-left: 0;
    padding: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 57%, rgba(252,176,69,1) 100%);
}

header nav
{
    color: white;

}
header nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li 
{
    margin: 0;
    padding: 0;
    float: right;
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}
header nav ul li ul li
{
    display: none;
}
header nav ul li a
{
    display: block;
}
header nav ul li a:hover
{
    background-color: transparent;
    color: cyan;
}
header nav ul li:hover ul li
{
    display: block;    
}
a
{
    text-decoration: none;
    color: white;
}

div.cadre{
    margin-top: 5%;
    position: absolute;
    display: flex;
    border: 4px solid red;

}
.name{
    border: 4px solid black;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: baseline;
}
.info{
    border: 2px solid green;
    position: relative;
    margin: 5px;
    display: flexbox;
}




